
code {
    white-space: pre-line;
    display: block;
}

#errorModal {
    z-index: 10001;
}

#loadingOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
    display: flex;
    align-items: center;
    top: 0;
}

.loading-overlay-spinner {
    display: flex;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
}

#notificationOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    pointer-events: none; /* transparent to clicks */
}

#notificationBadge {
    font-size: 1.2rem;
}

.post-type {
    font-size: 1.5rem;
}

.copy-icon {
    font-size: 1.5rem;
}

.post-image {
    max-width: 90vw; /* min(80vw, 100%); */
    max-height: 90vh; /* min(80vh, 100%); */
    align-self: center;
}

.bg-darker-dark {
    background-color: #2c3135!important;
}

.text-scrapbook-name {
    color: #1bd3f0!important;
}

@media (hover: hover) {
    /* Show input textarea on mobile devices where paste requires an input */
    .mobile-only { display: none!important; }
}

/* Scrollbar stuff */

:root {
    --sb-track: #555c63;
    --sb-handle: #f8f9fa;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--sb-handle) var(--sb-track);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.8rem;
}

*::-webkit-scrollbar-track {
    background: var(--sb-track);
    border-radius: 0.4rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--sb-handle);
    border-radius: 0.4rem;
    border: 0.1rem solid var(--sb-track);
}